<?xml version="1.0"?>
<!--
/**
 * @author VIJAYAKUMAR S
 * @copyright Copyright (c) 2018
 * @package Learn_Productsold
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Magento/Store/etc/config.xsd">
    <default>
        <productsold_tab>
            <productsold_setting>
				<productsold_active>1</productsold_active>
				<productsold_display>1</productsold_display>
				<productsold_min_count>0</productsold_min_count>
				<productsold_text><![CDATA[Sold Count : %s]]></productsold_text>
            </productsold_setting>
        </productsold_tab>
    </default>
</config>
