<?xml version="1.0"?>
<!--
/**
 * @author VIJAYAKUMAR S
 * @copyright Copyright (c) 2017
 * @package Learn_Productsold
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Learn_Productsold::productsold" title="Product Sold" module="Learn_Productsold" sortOrder="10" resource="Learn_Productsold::productsold"/>
        <add id="Learn_Productsold::custom_api" title="Product Sold" module="Learn_Productsold" sortOrder="20" parent="Learn_Productsold::productsold" action="productsold/index/index"  resource="Learn_Productsold::product_sold" />
    </menu>
</config>